<ion-content padding>
  <h1 class="ion-text-center">
    <ion-icon name="checkmark-done" class="icon-7em" color="primary"></ion-icon>
  </h1>

  <form [formGroup]="authForm" (submit)="onSubmit(authProviders.Email)">
    <ng-container *ngIf="!config.isSignIn">
      <ion-item>
        <ion-icon name="person" color="primary" slot="start"></ion-icon>
        <ion-input type="text" placeholder="Name" formControlName="name">
        </ion-input>
        <ion-note
          slot="end"
          color="danger"
          *ngIf="name.dirty && name.hasError('required')"
        >
          Required
        </ion-note>
        <ion-note
          slot="end"
          color="danger"
          *ngIf="name.dirty && name.hasError('minlength')"
        >
          Min 6 characters
        </ion-note>
      </ion-item>
    </ng-container>

    <ion-item>
      <ion-icon name="mail" color="primary" slot="start"> </ion-icon>

      <ion-input
        type="email"
        placeholder="Email"
        formControlName="email"
        inputmode="email"
      >
      </ion-input>
      <ion-note
        slot="end"
        color="danger"
        *ngIf="email.dirty && email.hasError('required')"
      >
        Required
      </ion-note>
      <ion-note
        slot="end"
        color="danger"
        *ngIf="email.dirty && email.hasError('email')"
      >
        Invalid
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="primary" slot="start"></ion-icon>
      <ion-input
        type="password"
        placeholder="Password"
        formControlName="password"
      >
      </ion-input>
      <ion-note
        slot="end"
        color="danger"
        *ngIf="password.dirty && password.hasError('required')"
      >
        Required
      </ion-note>
      <ion-note
        slot="end"
        color="danger"
        *ngIf="password.dirty && password.hasError('minlength')"
      >
        Min 8 char.
      </ion-note>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="authForm.invalid">
      {{ config.action }}
    </ion-button>
  </form>

  <ion-button fill="clear" expand="full" (click)="changeAuthAction()">
    {{ config.actionChange }}
  </ion-button>

  <ion-button expand="full" (click)="onSubmit(authProviders.Facebook)">
    <ion-icon name="logo-facebook" slot="start"></ion-icon>
    Login with Facebook
  </ion-button>
</ion-content>
