{
  "printWidth": 80,
  "bracketSpacing": true,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "embeddedLanguageFormatting": "auto",
  "jsxSingleQuote": true
}
